{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in students %}
    <li>Ученик: {{ student.name }} {{ student.group }} <br>
        Преподаватели: <br> 
           {% for teacher in student.teachers.all %}
            {{ teacher.name }}: {{ teacher.subject }}<br>
            {% endfor %} 
    </li>
  {% endfor %}
  </ul>
  {# sql:{{ sql.queries }}<br> DEBUG: {{DEBUG }} <br> q: {{ q }} #}

</div>
{% endblock %}
