.main-content {
  width: 850px;
  height: 650px;
  background-color:white;
  border:5px dashed #470000;
  padding:20px;
  color:black;
}
h2 {
  font-size:40px;
}
h1 {
  font-size:70px;
  text-transform:uppercase;
}
h3 {
  font-size:40px;
  text-transform:uppercase;
}
.description {
  font-size:24px;
}
.divider {
  margin:24px 40px;
  border-top: 1px solid gray;
}
.purchase-info {
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.purchase-info button {
  width: 350px;
  height: 80px;
  color:white;
  background-color:black;
}
.price {
  font-size:60px;
}

