{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        {% for book in books %}
            <div class="book col-md-4">
                <h2><a>{{ book.name }}</a></h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: <a 
                     href="{{ book.pub_date|date:'Y-m-d' }}">
                    {{ book.pub_date|date:'Y-m-d' }}</a></p>
            </div>
        {% endfor %}
        {% if page.has_prevous %}
            <a href="{{ page.prevous_date|date:'Y-m-d' }}">⟵</a>
        {% endif %}
        <a href="">{{ page.pub_date }}</a>
        {% if page.has_next %}
            <a href="{{ page.next_date|date:'Y-m-d' }}">⟶</a>
        {% endif %}
    </div>
{% endblock %}
